<a href="https://colab.research.google.com/github/iszewczuk/pandas_exercises_my/blob/main/alc_cons_grouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'

drinks = pd.read_csv(url, sep = ',')

In [4]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [7]:
beer_by_continent = drinks.groupby('continent')['beer_servings'].mean().sort_values(ascending=False)
round(beer_by_continent)

continent
EU    194.0
SA    175.0
OC     90.0
AF     61.0
AS     37.0
Name: beer_servings, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [17]:
drinks.groupby('continent')['wine_servings'].describe().sort_values('max', ascending=False)

           count        mean        std  min   25%    50%     75%    max
continent
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [15]:
round(drinks.groupby('continent').mean()).sort_values('total_litres_of_pure_alcohol', ascending=False)

<ipython-input-15-8401a0ef5c34>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  round(drinks.groupby('continent').mean()).sort_values('total_litres_of_pure_alcohol', ascending=False)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
EU,194.0,133.0,142.0,9.0
SA,175.0,115.0,62.0,6.0
AF,61.0,16.0,16.0,3.0
OC,90.0,58.0,36.0,3.0
AS,37.0,61.0,9.0,2.0

### Step 7. Print the median alcohol consumption per continent for every column

In [18]:
drinks.groupby('continent').median().sort_values('total_litres_of_pure_alcohol', ascending=False)

<ipython-input-18-b92764993f3f>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  drinks.groupby('continent').median().sort_values('total_litres_of_pure_alcohol', ascending=False)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
EU,219.0,122.0,128.0,10.00
SA,162.5,108.5,12.0,6.85
AF,32.0,3.0,2.0,2.30
OC,52.5,37.0,8.5,1.75
AS,17.5,16.0,1.0,1.20

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [27]:
drinks['spirit_servings'].agg(['mean', 'min', 'max']).to_frame(name='spirit_stats')

      spirit_stats
mean     80.994819
min       0.000000
max     438.000000